html {
  height: 100%;
}

body {
  height: 100%;
}

/* MAIN LAYOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

header {
  grid-column: 2 / 5;
  outline: 2px solid red;
}

.menu {
  display: grid;
  grid-row: 1 / 5;
  outline: 2px solid blue;
}

.projects {
  display: grid;
  outline: 2px solid green;
}

/* PROJECT LAYOUT */

.projects {
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-column: 1fr;
  gap: 10px;
  padding: 10px;
}

.card {
  outline: 1px solid red;
  height: 250px;
}

.sidebar {
  outline: 2px solid blue;
  padding: 1rem;
}
