html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  background-color: #e2e8f0;
}

h2 {
  padding: 0 1rem;
  margin-top: 0.5rem;
}

input {
  background-color: #e2e8f0;
  border: none;
  width: 800px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

input:focus,
input:active {
  outline: none;
}

.notification-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10rem;
}
/* MAIN LAYOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

header {
  grid-column: 2 / 5;
}

.menu {
  font-size: 1.5rem;
  font-weight: 700;
  display: grid;
  grid-row: 1 / 5;
}

.projects {
  display: grid;
}

/* PROJECT LAYOUT */

.projects {
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-column: 1fr;
  gap: 30px;
  padding: 10px;
}

/* HEADER */

header {
  background-color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.profile-header div {
  display: flex;
  align-items: center;
}

.profile-header ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin-right: 5rem;
}

.profile-header ul li {
  background-color: #1992d4;
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 30px;
  font-weight: 700;
}

/* DASHBOARD */

.menu {
  background-color: #1992d4;
  color: #fff;
  height: 100vh;
}

.menu ul {
  list-style-type: none;
}

/* PROJECTS SECTION */
.projects-container,
.sidebar {
  background-color: #e2e8f0;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-left: 10px solid #f0b429;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
}

.card p {
  font-weight: 400;
}

.card h2 {
  padding: 0;
}

.card ul {
  display: flex;
  justify-content: end;
}

.card ul li {
  list-style-type: none;
  padding: 10px;
}

/* ANNOUNCEMENT SECTION */
.announcements div,
.trending {
  background-color: #fff;
  padding: 1rem 0.5rem;
  margin-right: 1rem;
  border-radius: 8px;
  margin: 0.5rem 1rem;
}

.annoucement {
  margin: 0 1rem;
  border-bottom: 1px solid #e2e8f0;
}

.annoucement:last-child {
  border-bottom: none;
}

.trending {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
}

.trending-item {
  display: flex;
  gap: 10px;
}

.profile-pic {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
