/* MAIN LAYOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

header {
  grid-column: 2 / 5;
  outline: 2px solid red;
}

.menu {
  display: grid;
  grid-row: 1 / 5;
  outline: 2px solid blue;
}

.projects {
  display: grid;
  outline: 2px solid green;
}

.sidebar {
  display: grid;
  grid-column: ;
  outline: 2px solid black;
}

/* PROJECT LAYOUT */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-column: auto;
  gap: 10px;
  padding: 10px;
}

.card {
  outline: 1px solid red;
  height: 250px;
}

/* .sidebar {
  display: grid;
  width: 20%;
} */
